.container{
    width: 1280px;
    margin: auto;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
}
a, li{
    display: inline;
    text-decoration: none;
    color: black;
    list-style-type: none;
}
header a{
    display: block;
    font-size: 80px;
    padding: 45px 0;
}
.aqua{
    color: rgb(75, 202, 255);
}
.dark-aqua{
    color: rgb(49, 129, 166);
}
.navbar-main{
    width: 1280px;
    height: 70px;
    font-size: 24px;
    background-color: rgb(53, 68, 79);
    overflow: hidden;
    margin-bottom: 45px;
}
.navbar-main a{
    text-align: center;
    padding: 25px 40px;
    color: white;
}
.navbar-main ul li:first-child{
    padding-left: 80px;
}
.navbar-main a:hover{
    background-color: rgb(34, 47, 58);
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
}
.navbar-left{
    width: 340px;
    height: 400px;
    border: 1px solid black;
    float: left;
    font-size: 27px;
}
.navbar-left ul{
    width: 340px;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
}
.navbar-left a{
    color: rgb(71, 87, 99);
    display: block;
    width: 338px;
    padding: 24px 40px;
}
.navbar-left a:hover{
    color: black;
    background-color: rgb(220, 220, 220);
    padding-left: 70px;
}
.main-logo{
    float: right;
    overflow: hidden;
    width: 890px;
    height: 530px;
    border: 1px solid black;
}
.main-logo img {
    padding: 75px 280px;
    transition: all 2s ease-out;
}
.main-logo img:hover{
    transform: scale(1.1);
}
.main-text{
    clear: both;
    padding: 50px 30px;
    margin-left: 388px;
    font-size: 18px;
}
.navbar-footer{
    width: 1280px;
    height: 70px;
    font-size: 28px;
    background-color: rgb(181, 184, 187);
    margin-bottom: 45px;
    overflow: hidden;
}
.navbar-footer ul{
    float: left;
    margin: auto;
    padding-top: 22px;
}
.navbar-footer a{
    padding: 5px;
    color: rgb(44, 43, 43);
}
.navbar-footer a:hover{
    color: rgb(49, 129, 166);
    text-align: center;
    text-decoration-line: underline;
}
.footer-copyright{
    font-size: 24px;
    color: black;
    height: 70px;
    padding-right: 34px;
    margin: 0;
    float: right;
    display: inline-block;
    background-color: rgb(181, 184, 187);
}