html, body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 639px;
    margin: 0 auto;
    : }

.nav-menu {
    margin: 0;
    display: block;
    position: absolute;
    width: 182px;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

.nav-menu__item {
    display: block;
    width: 100%;
}

.nav-menu__link {
    color: #373c3f;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fafafa;
    border-top: 1px solid #f5f5f5;
}

.nav-menu__link:hover {
    background-color: #f5f5f6;
}

.nav {
    width: 100%;
    background-color: #373c3f;
    color: #ffffff;
    position: relative;
    height: 40px;
}

#burger-nav {
    display: none;
}

.burger-nav__label {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
    padding-left: 20px;
    font-size: 12px;
    width: 100%;
}

.burger-background {
    position: absolute;
    right: 0;
    height: 100%;
    width: 41px;
    background-color: black;
    z-index: 0;
}

.burger-line {
    position: absolute;
    top: 12px;
    right: 13px;
    width: 15px;
    height: 2px;
    background-color: #ffffff;
    transition: .5s all;
}

.first {
}

.second {
    top: 18px;
}

.third {
    top: 18px;
}

.fourth {
    top: 24px;
}

#burger-nav:checked ~ .nav-menu {
    max-height: 173px;
    width: 182px;
    font-size: 12px;
}

#burger-nav:checked ~ .first {
    display: none;
}

#burger-nav:checked ~ .second {
    transform: rotate(45deg);
}

#burger-nav:checked ~ .third {
    transform: rotate(-45deg);
}

#burger-nav:checked ~ .fourth {
    display: none;
}

.header-logo {
    display: none;
}

.slogan {
    background-image: url("../img/320_header-background.jpg");
    background-size: cover;
    width: 100%;
    min-height: 173px;
}

.main-slogan {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 20px;
}

.main-slogan-link {
    color: #a6d6e0;
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
}

.products {
    display: flex;
    flex-direction: column;
}

.products__item {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1px;
}

.products__item-link {
    margin: 0 auto;
    display: inline-block;
    height: 75px;
    width: 78%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    background-size: cover;
    text-decoration: none;
}

.products__item-square {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    width: 22%;
    height: 100%;
    text-align: center;
    line-height: 3;
    background-color: #acd8ad;
}

.pizza {
    background-image: url("../img/320_pizza-delivery-bg.jpg.jpg");
}

.salads {
    background-image: url("../img/320_salads-bg.jpg");
}

.desserts {
    background-image: url("../img/320_desserts-bg.jpg");
}

.menu {
    padding: 7px;
    margin-top: 16px;
}

.menu-header-wrapper {
    position: relative;
}

.menu-header {
    color: #3f4043;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-subheader {
    color: #cbccce;
    font-size: 10px;
    font-weight: 400;
}

.menu__logo {
    display: none;
}

.menu-group-header {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #3f4043;
    padding: 12px;
    margin-top: 15px;
    color: #acd8ad;
}

.menu-group-subheader {
    color: #3f4043;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px;
}

.menu__group:nth-of-type(even) .menu-group-header {
    background-color: #acd8ad;
    color: #ffffff;
    /* order: 1; */
}

.menu__item {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.menu__item-name {
    height: 12px;
    font-weight: 400;
}

.menu__item-price {
    color: #3f4043;
    font-weight: 700;
    font-size: 14px;
}

.menu__item-description {
    color: #3f4043;
    font-size: 9px;
    padding-top: 7px;
    font-weight: 400;
}

footer {
    background-color: #acd8ad;
    padding: 12px;
}

.footer-logo {
    display: none;
}

.footer-text-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-text {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}

@media screen and (min-width: 640px) {
    .container {
        max-width: 979px;
    }

    .slogan {
        height: 346px;
        background-image: url("../img/640_header-background.jpg");
        margin-bottom: 3px;
    }

    .products__item {
        height: 150px;
    }

    .products__item-link {
        height: 100%;
    }

    .pizza {
        background-image: url("../img/640_pizza-delivery-bg.jpg");
    }

    .salads {
        background-image: url("../img/640_salads-bg.jpg");
    }

    .desserts {
        background-image: url("../img/640_desserts-bg.jpg");
    }

    .nav {
        height: 74px;
        box-sizing: border-box;
    }

    .burger-nav {
        font-size: 24px;
        height: 74px;
        line-height: 3;
        padding-left: 38px;
    }

    .burger-nav__label {
        box-sizing: border-box;
        font-size: 24px;
        line-height: 74px;
    }

    #burger-nav:checked ~ .nav-menu {
    max-height: 346px;
    width: 243px;
    font-size: 14px;
}

.nav-menu__link {
    padding: 14px;
}

    .burger-line {
        width: 34px;
        height: 4px;
        top: 27px;
        right: 22px;
    }

    .burger-background {
        width: 82px;
    }

    .second {
        top: 35px;
    }

    .third {
        top: 35px;
    }

    .fourth {
        top: 43px;
    }

    .main-slogan {
        font-size: 36px;
        padding: 30px 0 22px 38px;
        line-height: normal;
    }

    .main-slogan-link {
        font-size: 24px;
        padding-left: 38px;
    }

    .products__item-link {
        font-size: 36px;
        line-height: 4;
    }

    .menu {
        margin-top: 45px;
    }

    .menu-header {
        font-size: 40px;
        padding-left: 15px;
    }

    .menu-subheader {
        font-size: 20px;
        padding-left: 15px;
    }

    .menu-group-header {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 24px;
        padding: 23px 28px;
    }

    .menu-group-subheader {
        font-size: 30px;
        padding-left: 26px;
    }

    .menu__item {
        margin: 22px;
    }

    .menu__item-name {
        font-size: 27px;
    }

    .menu__item-price {
        font-size: 27px;
    }

    .menu__item-description {
        font-size: 18px;
        padding-top: 16px;
    }

    .products__item-square {
        line-height: 5;
        font-size: 32px;
    }

    footer {
        margin-top: 100px;
        /* height: 100px; */
    }

    .footer-text {
        display: inline;
        font-size: 18px;
        line-height: 2.5;
    }

    #nav-mobile:checked ~ .nav-menu {
        max-height: 214px;
        font-size: 14px;
        width: 243px;
    }
}

@media screen and (min-width: 980px) {
    .container {
        max-width: 980px;
    }

    .nav > div, .nav > label, .nav > input {
        display: none;
    }

    .nav {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

    .nav-menu {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: unset;
        transform: unset;
        font-size: 14px;
        overflow: unset;
        max-height: unset;
        bottom: unset;
        right: unset;
    }

    .nav-menu__item {
        display: inline-block;
        width: unset;
        padding: 0;
    }

    .nav-menu__link {
        box-sizing: border-box;
        background: none;
        padding: 0;
        border: none;
        color: lightgray;
        width: unset;
        text-transform: uppercase;
    }

    .nav-menu__link:hover {
        color: #ffffff;
        background-color: unset;
    }

    .header-logo {
    }

    .slogan {
        height: 530px;
        background-image: url("../img/980_header-background.jpg");
        background-size: cover;
        margin-bottom: 3px;
    }

    .products {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-items: center;
    }

    .products__item {
        height: 327px;
        width: 327px;
        /* flex-grow: 1; */
        margin: 0;
        display: inline-block;
    }

    .products__item-link {
        height: 100%;
    }

    .pizza {
        background-image: url("../img/980_pizza-delivery-bg.jpg");
    }

    .salads {
        background-image: url("../img/980_salads-bg.jpg");
    }

    .desserts {
        background-image: url("../img/980_desserts-bg.jpg");
    }

    .burger-nav {
        visibility: hidden;
    }

    .main-slogan {
        font-size: 54px;
        padding: 30px 0 22px 38px;
    }

    .main-slogan-link {
        font-size: 34px;
    }

    .products__item-link {
        width: 327px;
        height: 327px;
        font-size: 38px;
        line-height: 9;
    }

    .products__item-square {
        display: none;
    }

    .menu {
        margin-top: 72px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .menu-header-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .menu-header {
        font-size: 34px;
        padding-left: 30px;
    }

    .menu-subheader {
        padding-left: 30px;
        margin-top: 10px;
    }

    .menu__logo {
        display: inline-block;
        position: absolute;
        right: 0;
        top: -25px;
    }

    .menu-group-header {
        font-size: 34px;
        margin-top: 20px;
        margin-bottom: 24px;
        padding: 23px 28px;
    }

    .menu-group-subheader {
        font-size: 26px;
    }

    .menu__item {
        margin: 22px;
    }

    .menu__item-name {
        font-size: 24px;
    }

    .menu__item-description {
        font-size: 16px;
    }

    footer {
        margin-top: 80px;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-text-wrapper {
        display: block;
    }

    .menu__group:nth-of-type(even) {
        order: 1;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .slogan {
        height: 649px;
        background-image: url("../img/1200_header-background.jpg");
        background-size: cover;
        margin-bottom: 3px;
    }

    .main-slogan {
        font-size: 62px;
    }

    .main-slogan-link {
        font-size: 38px;
    }

    .products__item {
        width: 400px;
        height: 400px;
    }

    .products__item-link {
        width: 400px;
        height: 400px;
        font-size: 43px;
        line-height: 400px;
    }

    .pizza {
        background-image: url("../img/1200_pizza-delivery-bg.jpg");
    }

    .salads {
        background-image: url("../img/1200_salads-bg.jpg");
    }

    .desserts {
        background-image: url("../img/1200_desserts-bg.jpg");
    }

    .menu-header {
        font-size: 40px;
    }

    .menu-group-header {
        font-size: 40px;
    }

    .menu-group-subheader {
        font-size: 30px;
    }

    .menu__item-name {
        font-size: 27px;
    }

    .menu__item-description {
        font-size: 18px;
    }
}
