
.html, body, h2 {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

section {
    margin: auto;
    width: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section-header {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}

.yellow {
    color: #f1ad1d;
}

section:nth-of-type(odd) h2 {
    color: white;
}

.section-subheader {
    font-size: 17px;
    color: #4d4943;
}

.line {
    display: inline-block;
    margin-top: 55px;
    width: 60px;
    border: 1.5px solid #f1ad1d;
}

.we-make-design {
    display: block;
    height: 100vh;
    margin-bottom: 112px;
    background-image: url("../img/src_main_frontend_html_css_homework_homework8_img_bg1.jpg");
    position: relative;
}

.logo {
    display: inline-block;
    position: absolute;
    text-align: left;
    left: 82px;
    top: 530px;
}

.logo h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.logo p {
    margin: 0;
    padding-bottom: 28px;
    font-size: 18px;
    color: white;
}

.slogan {
    width: 831px;
    height: 128px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
}

.slogan h1 {
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    font-size: 54px;
    font-weight: bold;
    color: white;
    padding: 33px 0 33px 26px;
}

.slogan h1:first-of-type {
    background-color: white;
    padding: 33px 26px;
}

.what-they-said {
    height: 372px;
}

.we-change-ideas {
    height: 380px;
    background-image: url("../img/src_main_frontend_html_css_homework_homework8_img_bg2.jpg");
}

.secret-of-company {
    height: 439px;
}

.featured-on {
    height: 475px;
    background-image: url("../img/src_main_frontend_html_css_homework_homework8_img_bg3.jpg");
}

.they-trust-us {
    height: 402px;
}

.check-what-said {
    height: 485px;
    background-image: url("../img/src_main_frontend_html_css_homework_homework8_img_bg4.jpg");
}

.check-what-said p {
    color: white;
}

.check-what-said .line {
    width: 281px;
    border-color: white;
}

.some-times {
    height: 372px;
}
