.container{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(55, 71, 101);
    display: flex;
    align-items: center;
    justify-items: center;
}
.table-wrapper{
    margin: 24px 30px 31px 30px;
    width: 100%;
}
table{
    text-transform: uppercase;
    text-align: center;
    border-collapse: collapse;
    /*width: 100%;*/
    font-family: 'Arimo', sans-serif;
    background-color: white;
    margin: auto;
    color: rgb(72, 72, 72);
}
#col-first{
    width: 310px;
    border-right: 2px solid rgb(228, 228, 228);
}
#col{
    width: 277px;
    border-right: 2px solid rgb(228, 228, 228);
}
#col-last{
    width: 277px;
    border-left: 2px solid rgb(228, 228, 228);
}
.contact-bgr{
    background-color: rgb(70, 70, 70);
}
.standart-bgr{
    background-color: rgb(138, 196, 45);
}
.ultimate-bgr{
    background-color: rgb(240, 73, 85);
}
.premium-bgr{
    background-color: rgb(26, 129, 125);
}
/*TABLE HEADER:*/

thead tr:nth-child(even){
    height: 86px;
}
thead tr:nth-child(odd){
    height: 71px;
}

/*TABLE BODY:*/

tbody tr:nth-child(even){
    height: 69px;
    background-color: rgb(228, 228, 228);
}
tbody tr:nth-child(odd){
    height: 69px;
    background-color: rgb(242, 242, 242);
}

/*TABLE FOOTER (LAST ROW):*/

tfoot td{
    background-color: beige;
    height: 30px;
}
tfoot tr{
    height: 109px;
}
tfoot tr button{
    width: 192px;
    height: 49px;
    font-size: 16px;
    font-family: inherit;
    text-transform: inherit;
    font-weight: bold;
    color: white;
    border-radius: 7px;
}
