html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #424242;
}

.container {
    width: 1200px;
}

section {
    margin: 0 auto;
}

header {
    color: rgb(66, 66, 66);
}

.header-contacts {
    height: 41px;
    background-color: rgb(240, 242, 244);
}

.header-contacts-wrapper {
    /*margin: 0 auto;*/
    height: 100%;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-contacts-item1 {
    padding: 0 20px;
    font-size: 15px;
}

.header-contacts-item1 i {
    font-size: 18px;
    padding-right: 6px;
}

.header-contacts-item2 {
    padding: 0 12px;
    font-size: 15px;
}

.header-contacts-item2 i {
    font-size: 18px;
    padding: 2px 6px 0 9px;
}

.vertical-line {
    height: 100%;
    width: 1px;
    background-color: #333333;
}

.header-social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 136, 192);
    color: white;
    border-radius: 4px;
    width: 26px;
    height: 26px;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 240px;
}

.header-logo p {
    padding-left: 12px;
    font-size: 15px;
}

.header-logo span {
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.header-navigation {
    width: 1024px;
    height: 132px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-consultation-btn {
    width: 171px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(222, 43, 36);
    margin-top: 2px;
}

.navigation li {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    padding: 0 18px;
    position: relative;
}

.navigation li::after {
    content: "";
    position: absolute;
    background-color: rgb(66, 66, 66);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -3px;
    top: 5px;
}

.navigation a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.navigation a:hover {
    color: rgb(222, 43, 36);
}

.main-banner {
    align-items: center;
    background-image: url("../img/header-banner-fon-img.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.main-banner-tagline {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-left: 3px;
    margin-top: -93px;
    margin-bottom: 5px;
}

.main-banner p {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: -9px;
    margin-bottom: 31px;
}

.main-consultation-btn {
    width: 328px;
    height: 70px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(248, 205, 83);
    margin-bottom: -27px;
}

.section-header {
    text-align: center;
    margin-top: 98px;
}

.section-header h2 {
    display: inline-block;
    position: relative;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.section-header h3 {
    font-size: 20px;
    padding-top: 3px;
}

.section-header h2::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 5px;
    background-color: #424242;
    bottom: -43px;
    left: 59px;
}

.about-us-items {
    width: 928px;
    margin: 0 auto;
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.about-us-item {
    text-align: center;
}

.about-us-item h3 {
    display: block;
    margin-top: 22px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.about-us-item p {
    font-size: 13.5px;
    display: block;
    width: 244px;
    line-height: 1.7;
    letter-spacing: 0.4px;
}

.our-work-wrapper{
    width: 100%;
    height: 870px;
    background-color: #de2b24;
}