.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
table{

    border: 1px solid black;
    border-collapse: collapse;
}
td{
    height: 1.4em;
    width: 1.4em;
    border: 1px solid black;
}