.container{
    font-family: Verdana regular, sans-serif;
    color: white;
    margin: auto;
    width: 1366px;
    height: 768px;
    position: relative;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}
.logo{
    width: 165px;
    position: relative;
    float: left;
    left: 155px;
    margin-top: 49px;
}
.logo div{
    width: 46px;
    height: 44px;
    background-image: url("logo.png");
}
.logo a{
    color: white;
}
.logo:hover div{
    background-image: url("logo-orange.png");
    color: rgb(242, 101, 34);
}
.logo:hover a{
    color: rgb(242, 101, 34);
}
.logo h2{
    position: absolute;
    margin: 0;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    top: -6px;
    left: 55px;
}
.logo h3{
    position: absolute;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    top: 27px;
    left: 55px;
}
.contacts{
    position: absolute;
    margin: 0;
    text-align: right;
    float: right;
    top: 35px;
    right: 153px;
}
.contacts h3{
    font-weight: 300;
}
ul {
    font-size: 18px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    float: left;
    padding: 0;
    margin: 47px 65px 0 150px;
    list-style: none;
}
li {
    float: left;
    margin: 0;
}
figure {
    margin: 0;
    margin-right: 69px;
}
figure>figcaption{
    padding-top: 22px;
    padding-bottom: 58px;
}
figure div{
    position: relative;
    box-sizing: border-box;
}
figure:hover{
    color: rgb(242, 101, 34);
}
.show-details{
    background-color: rgb(242, 101, 34);
    width: 307px;
    height: 63px;
    position: absolute;
    bottom: 0;
    margin-bottom: -63px;
    box-sizing: border-box;
    color: white;
    transition: margin 0.5s linear;
}
.show-details p{
    margin: 0;
    position: absolute;
    font-size: 10px;
    text-align: left;
    padding-left: 21px;
    padding-top: 16px;
}
.show-details div{
    position: absolute;
    top: 30px;
    left: 21px;
    text-align: left;
    display: inline-block;
    font-size: 20px;

}
.show-details a{
    position: absolute;
    top: 30px;
    right: 18px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
figure:hover .show-details{
    margin-bottom: 0;
    transition: margin 0.5s linear;
}
.img-border{
    height: 200px;
    box-shadow: 1px 17px 24px 1px black;
    overflow: hidden;
}
.footer{
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
