.container{
    font-family: Verdana regular, sans-serif;
    margin: auto;
    width: 1366px;
    height: 768px;
    position: relative;
/*    background-image: url("background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;

    border: 1px solid black;
}
.logo{
    width: 165px;
    position: relative;
    float: left;
    left: 155px;
    margin-top: 49px;
}
.logo:hover{
    background-color: rgb(242, 101, 34);
    color: rgb(242, 101, 34);
}
.logo img{
    width: 46px;
    height: 44px;
}
.logo h2{
    position: absolute;
    margin: 0;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    top: -6px;
    left: 55px;
}
.logo h3{
    position: absolute;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    top: 27px;
    left: 55px;
}
.contacts{
    position: absolute;
    margin: 0;
    text-align: right;
    float: right;
    top: 35px;
    right: 153px;
}
.contacts h2{
    font-size: 18px;
}
ul {
    font-size: 18px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    float: left;
    padding: 0;
    margin: 47px 65px 0 150px;
    list-style: none;
    overflow: auto;
}
li {
    float: left;
    margin: 0;
}
figure {
    margin: 0;
    margin-right: 69px;
}
figure>figcaption{
    padding-top: 22px;
    padding-bottom: 58px;
}
figure:hover{
    color: rgb(242, 101, 34);
}
/*.gallery li:last-child {*/
    /*margin-right: 0;*/
/*}*/
.footer{
    margin: 0;
    text-align: center;
    font-size: 12px;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}
.hidden-block{
    display: inline-block;
    width: 26%;
    background-color: rgb(242, 101, 34);
}